body {
    padding-top: 5rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.stat {
    text-align: center;
    margin: 20px;
}
.stat .number {
    font-size: 1.5em;
    font-weight: bold;
}
.stat .label {
    font-size: 0.9em;
    color: #666;
}

.Top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.Bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bio {
    max-width: 600px;
    text-align: left;
    margin: 20px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    margin-top: 20px;
}

.profile-pic:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.follow-btn {
    margin-top: 20px;
    width: 200px;
    background-color :limegreen;
    color: white;
    border: black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.follow-btn:hover {
    background-color: red;
    transition: background-color 0.3s ease;
}